/* Medias */

@media (max-width: 768px) {
   
}

@media (min-width: 1024px) {
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    
    background: #D9D9D9;

}

html, body {

    height: 100%;
    margin: 0;
    padding: 0;

}

header {

    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 14%;

    background: #EAEAEA;

}

header a {
    
    font-family: 'Inter';
    margin-left: 73%;
    margin-top: 0%;
    padding: 1rem 0rem;

    font-size: 100%;
    color: #626262;

}


.img_sino {

    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 35%;
    left: 92%;

}

/*Sidebar*/

.sidebar {

    position: absolute;
    width: 20.3%;
    height: 216%;
    left: 0%;
    top: 0%;
    padding: 0% 0%;

    background: #EAEAEA;

}
  
.img_logo {

    position: absolute;
    width: 74%;
    height: 5%;
    left: 12%;
    top: 1%;

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5%;
    
}

.usuario {

    position: absolute;
    width: 49%;
    height: 10%;
    left: 25%;
    top: 13%;

}
/* Estilização dos Links*/

a {

    background: none;
    border: none;
    color: inherit; 
    font: inherit; 
    padding: 0%;
    cursor: pointer; 
    text-decoration: none; 
    
}
  
.link_sidebar {
    margin-top: 240%; 
    display: flex; 
    flex-direction: column;
    gap: 4em; 

}

.link_sidebar a {

    display: block;
    line-height: 1.9rem;
    margin: 0 auto;
    padding: 0.5em;
    width: 15rem;

    font-size: 1.5rem;
    background: none;
    border-radius: 52px;
    text-align: center;
    transition: background 0.1s ease, padding 0.1s ease;

    color: #626262;

}

.link_sidebar a:hover {
    background: #D9D9D9;
    padding: 1em 0em;
}



/* Painel de Responsavel e Paciente*/


.responsavel {
    
    position: absolute;
    left: 22%;
    top: 26%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 24px;

    color: #000000;

}

.paciente{

    position: absolute;
    left: 29%;
    top: 33%;

    font-family: 'Inter';
    font-style: normal;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 24px;

    color: #000000;

}

.nome_1{

    position: absolute;
    left: 19%;
    top: 30%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size:0.9rem;
    line-height: 22%;

    color: #000000;

}

.nome_2 {

    position: absolute;
    left: 19%;
    top: 37%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size:0.9rem;
    line-height: 22%;

    color: #000000;

}

.linha {

    position: absolute;
    width: 70%;
    height:0%;
    left: 14.5%;
    top: 41%;

    border: 1px solid #9B9B9B;

}

/* Plano de Alimentação*/

.plano{
    
    display: flex;
    display: block;
    position: absolute;
    width: 74%;
    height: 167vh;
    left: 23.5%;
    top: 23%;

    background: #EAEAEA;
    border-radius: 45px;

}

.plano_alimentar {

    position: absolute;
    width: 20%;
    height: 10%;
    left: 3%;
    top: 3%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 120%;
    line-height: 120%;

    color: #000000;


}

.linha2 {

    position: absolute;
    width: 68.8vw;
    height: 0%;
    left: 2.99%;
    top: 7.5%;

    border: 1px solid #B0B0B0;

}

.refeicoes{
 /*colocar em cada div*/

    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 2rem;

}

.refeicoes h2 {

    font-size: 1.2rem;

}

.refeicoes p {

    font-size: 1rem;

}

.box-cinza{
   
    width: 69vw;
    height: 20vh;
    padding: 2rem;
    background: #D9D9D9;
    border-radius: 19px;

}

.box-cinza > h2{

    margin-bottom: 1rem;

}
