/* Medias */

@media (condição) {
    /* Estilos para essa condição */
}

@media (condição) {
    /* Estilos para essa condição */
}

@media (max-width: 768px) {
    /* Estilos aqui */
}

@media (min-width: 1024px) {
    /* Estilos aqui */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Isso ajuda a controlar o layout, incluindo o padding nas dimensões dos elementos */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    
    background: #D9D9D9;

}

html, body {

    height: 100%;
    margin: 0;
    padding: 0;

}

header {

    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 12%;
    left: 0px;
    top: 0px;

    background: #EAEAEA;

}

.img_sino {

    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: 30%;
    left: 92%;

}

/*Sidebar*/

.sidebar {

    position: absolute;
    width: 20.3%;
    height: 200%;
    left: 0%;
    top: 0%;
    padding: 0% 0%;

    background: #EAEAEA;

}
  
.img_logo {

    position: absolute;
    width: 74%;
    height: 6%;
    left: 12%;
    top: 1%;

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5%;
    
}

.usuario {

    position: absolute;
    width: 40%;
    height: 10%;
    left: 30%;
    top: 18%;


}
/* Estilização dos Links*/

a {

    background: none;
    border: none;
    color: inherit; 
    font: inherit; 
    padding: 0%;
    cursor: pointer; 
    text-decoration: none; 
    
}
  
.link_sidebar {
    margin-top: 210%; /* Ajuste com uma unidade percentual, mais flexível */
    display: flex; /* Usando flexbox para alinhar os links */
    flex-direction: column; /* Organizando os links verticalmente */
    gap: 2em; /* Espaço entre os links usando 'em', que é relativo ao tamanho da fonte */
}

.link_sidebar a {
    display: block;
    line-height: 1.5em; /* Usando 'em' para a altura da linha, depende do tamanho da fonte */
    margin: 0 auto; /* Centraliza os links horizontalmente */
    padding: 0.5em; /* Usando 'em' para o padding */
    width: 16vw; /* A largura será 16% da largura da tela */
    height: 10vh; /* A altura será 10% da altura da tela */

    background: none;
    border-radius: 52px;
    text-align: center;
    transition: background 0.1s ease, padding 0.1s ease;

    color: #626262;

}

.link_sidebar a:hover {
    background: #D9D9D9;
    padding: 1em 0em; /* Adicionando padding extra durante o hover */
}

.log{
    
    line-height: 1%;
    padding: 10rem 10%;
    background: none;
    border-radius: 52px;
    text-align: center;
    transition: background 0.1s ease, padding 0.1s ease;

    color: #626262;

}

.logout{

    margin-top: 60%;
    padding: 0%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 24px;
    text-align: center;
    color: #626262;

}


/* Painel de Responsavel e Paciente*/


.responsavel {
    
    position: absolute;
    width: 128px;
    height: 27px;
    left: 3.80em;
    top: 15.40em;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;

    color: #000000;

}

.paciente{
    position: absolute;
    width: 128px;
    height: 27px;
    left: 4.70em;
    top: 18.5em;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;

    color: #000000;
}

.nome_1{

    position: absolute;
    width: 168px;
    height: 19px;
    left: 2.99em;
    top: 17em;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size:0.70em;
    line-height: 19px;

    color: #000000;


}

.nome_2 {
    position: absolute;
    width: 168px;
    height: 19px;
    left: 2.99em;
    top: 20em;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size:0.70em;
    line-height: 19px;

    color: #000000;

}

.linha {

    position: absolute;
    width: 68%;
    height:0%;
    left: 14%;
    top: 60%;

    border: 1px solid #9B9B9B;

}

/* Plano de Alimentação*/

.plano{
    
    display: flex;
    display: block;
    position: absolute;
    width: 74%;
    height: 160vh;
    left: 23.5%;
    top: 23%;

    background: #EAEAEA;
    border-radius: 39px;

}

.plano_alimentar {

    position: absolute;
    width: 20%;
    height: 10%;
    left: 3%;
    top: 3%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 120%;
    line-height: 120%;

    color: #000000;


}

.linha2 {

    position: absolute;
    width: 68.8vw;
    height: 0%;
    left: 2.99%;
    top: 7.5%;

    border: 1px solid #B0B0B0;

}
.refeicoes h2 {
    
    margin: 13% 3%;
    padding: 0vh 3%; 
    gap: 0vh;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    line-height: 1.5;
    color: #000000;
    text-align: left;
    width: 100%; 

}

.refeicoes p {

    display: block;
    margin: 20vh 4%;
    padding: 4% 2%; 
    position: absolute;
    width: 573px;
    height: 19px;
    left: 399px;
    top: 10%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}
